
<div class="textAreaContainer font">
  <img src="../../../assets/img/cifrado-cesar.png" alt="">
  <h1>CIFRADO CESAR</h1>

  <!-- <button type="button" class="css-button-arrow--sky">Codificar</button>
  <button type="button" class="css-button-arrow--black">Decodificar</button> -->
    <h3><label for="prueba">Introduzca su texto aqui:</label></h3>
  <!-- <textarea name="userInput" [(ngModel)]="textField" id="userInput" cols="60" rows="10"></textarea> -->
  <div class="form-floating">
    <textarea class="form-control" placeholder="Text here" [(ngModel)]="textField" id="floatingTextarea1"></textarea>
    <!--<label for="floatingTextarea2">Text</label>-->

  </div>

  <p>
    <!-- <a  href="" class="css-button-arrow--sky">Codificar</a>
  <a routerLink="/decodificar" class="css-button-arrow--black">Decodificar</a> -->
  <button [disabled]="!textField" class="inactive--sky " [class.css-button-arrow--sky]= 'textField' (click)="codificar()">Codificar</button>
  <button [disabled]="!cod_result" class="inactive--black" [class.css-button-arrow--black]= 'cod_result' (click)="decodificar()">Decodificar</button>
  </p>
  <!-- <p class="action-btn">
    <button [disabled]="!textField" type="button" class="btn btn-success" (click)="findWord()">Decodifica tu mensaje</button>
  </p> -->
  <h4 *ngIf="cod_result">
    Texto codificado:
  </h4>
  <div class="form-floating" *ngIf="cod_result && textField">


    <textarea class="form-control" placeholder="Text here" [class.invalid]= '!cod_result' readonly="readonly" id="floatingTextarea2">{{ cod_result }}</textarea>
  </div>
  <h4 *ngIf="decod_result">
    Texto decodificado:
  </h4>
  <div class="form-floating" *ngIf="!cod_result && decod_result">


    <textarea class="form-control" placeholder="Text here" [class.invalid]= '!decod_result' readonly="readonly" id="floatingTextarea2">{{ decod_result }}</textarea>
  </div>
  <p class="action-btn" >
    <button  [disabled]="!cod_result && !decod_result" type="button" class="inactive--red" [class.css-button-arrow--red]="cod_result || decod_result" (click)="clearWord()">Limpiar</button>
  </p>


</div>
