
<div class="textAreaContainer font">
  <h1>CIFRADO CESAR</h1>
    <p><label for="prueba">Introduzca su texto aqui:</label></p>
  <!-- <textarea name="userInput" [(ngModel)]="textField" id="userInput" cols="60" rows="10"></textarea> -->
  <div class="form-floating">
    <textarea class="form-control" placeholder="Text here" [(ngModel)]="textField" id="floatingTextarea1"></textarea>
    <!--<label for="floatingTextarea2">Text</label>-->

  </div>
  Texto: {{ textField }}
  <p>
    <button [disabled]="!textField" type="button" class="btn btn-primary" (click)="findWord()">Transformar</button>
  </p>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Text here" readonly="readonly" id="floatingTextarea2">{{ word }}</textarea>
    <!--<label for="floatingTextarea2">Text</label>-->
          <!-- <p *ngIf="word">
        Traduccion: {{ word }}
      </p> -->
  </div>


</div>



