input {
  width: 200px;
  height: 200px;
}

img {
  width: 100px;
  margin: 10px 10px;
}

textarea {
  height: 200px!important;
  width: 70%;
  padding-top: 10px!important;
  margin-bottom: 10px;
}

.textAreaContainer {
  text-align: center;
}

.form-floating {
  display: flex;
  place-content: center;
}

#floatingTextarea2 {
  cursor:default;
}
